.home-container {
    background-color: #fffffc;
    width: fit-content;

    .hero-header {
        background: url('https://i.ibb.co/7vNRFbb/Capture-d-cran-2023-06-05-164211.png');
        background-size: cover;
    }

    .container {
        .display-3 {
            font-size: calc(1.525rem + 3vw);
            font-weight: 800;
            line-height: 1.2;
            font-family: 'Nunito', sans-serif;
        }

        .btn {
            background-color: #06d6a0;
            border-color: #06d6a0;

            &:hover {
                background-color: #fff;
                color: #06d6a0;
            }
        }
    }

    .spin-animation {
        animation: spin 25s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


    .service-item {
        border-radius: 10px;
        margin: 0 10px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        cursor: pointer;
        transition: 0.2s ease-in-out all;

        h5 {
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            line-height: 1.2;
        }

        p {
            color: #0000009b;
            transition: 0.2s ease-in-out all;

        }

        svg {
            width: 75px;
            height: 75px;
            padding-bottom: 20px;
            transition: 0.2s ease-in-out all;

            path {
                fill: #06d6a0;
            }
        }

        &:hover {
            background-color: #06d6a0;
            color: #fff;

            p {
                color: #fff;
            }

            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }


    .col-lg-6 {
        h1 {
            font-size: calc(1.375rem + 1.2vw);
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            line-height: 1.2;
        }

        h5 {
            font-family: 'Pacifico', sans-serif;
            color: #06d6a0 !important;
            font-size: 30px !important;
        }

        p {
            color: #0000009b;
        }

        .col-sm-6 {
            div {
                border-color: #06d6a0 !important;

                h1 {
                    color: #06d6a0 !important;
                }
            }
        }
    }

    .menu-section {
        h5 {
            font-family: 'Pacifico', sans-serif;
            color: #06d6a0 !important;
            font-size: 30px !important;
        }

        h1 {
            font-size: calc(1.375rem + 1.2vw);
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            line-height: 1.2;
        }
    }


    .d-flex {
        span {
            color: #000000 !important;
            font-family: "Nunito", sans-serif;
            font-size: 1.25rem;
            font-weight: 800;
            line-height: 1.2;

            &:last-child {
                color: #06d6a0 !important;
            }
        }
    }
}