@import '~bootstrap/dist/css/bootstrap.css';

* {
  font-family: 'Heebo', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1faee;
}

.btn {
  border-radius: 30px !important;
}